main {
    padding: 20px;
}

nav {
    background-color: maroon;
    color: whitesmoke;
    display: flex;
  }
  
nav > * {
    padding: 10px;
}
  
nav a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

nav a.active {
    background-color: seagreen;
}

/* .FormErrors {
    padding: 5px;
    border: 1px solid salmon;
    background-color: lightpink;
    border-radius: 3px;
    margin-bottom: 5px;
} */